<div class="text-center">
  <div class="mat-subheading-2 tine">
    {{ weather?.title }}
  </div>
  <div class="mat-headline">
    {{ weather?.temp | number: "1.0-0" }} {{ weather?.temp_unit_icon }}
  </div>
  <div class="flex-wrapper">
    <img
      [src]="weather?.icon"
      [alt]="weather?.description"
      class="weather-icon"
    />
    <div class="mat-body-1">
      {{ weather?.description }}
    </div>
  </div>
  <div class="divider"></div>
  <div class="flex-wrapper">
    <div>
      max temp: {{ weather?.temp_max | number: "1.0-0" }}
      {{ weather?.temp_unit_icon }}
    </div>
    <div>
      min temp: {{ weather?.temp_min | number: "1.0-0" }}
      {{ weather?.temp_unit_icon }}
    </div>
    <div>wind speed: {{ weather?.wind_speed }}</div>
  </div>
</div>
