:host {
  display: inline-block;
  width: 150px;
  border: 1px solid white;
  padding: 10px;
}
.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  div {
    margin: 0 10px;
  }
}
.weather-icon {
  margin-right: 10px;
}
.divider {
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
