:host {
  display: inline-block;
  min-width: 350px;
  border: 1px solid white;
  padding: 50px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  :host {
    min-width: auto;
    padding: 10px;
    margin: 10px;
  }
}
.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  div {
    margin: 0 10px;
  }
}
.weather-icon {
  margin-right: 25px;
}
.temp {
  font: 200 200px/200px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 25px;
}
.divider {
  border-bottom: 1px solid white;
  margin-bottom: 25px;
}
