<div class="text-center">
  <div class="mat-display-3 tine">
    {{ cityWeather?.title }}
  </div>
  <div class="temp">
    {{ cityWeather?.temp | number: "1.0-0" }} {{ cityWeather?.temp_unit_icon }}
  </div>
  <div class="flex-wrapper">
    <img
      [src]="cityWeather?.icon"
      [alt]="cityWeather?.description"
      class="weather-icon"
    />
    <div class="mat-body-1">
      {{ cityWeather?.description }}
    </div>
  </div>
  <div class="divider"></div>
  <div class="flex-wrapper">
    <div>
      max temp: {{ cityWeather?.temp_max | number: "1.0-0" }}
      {{ cityWeather?.temp_unit_icon }}
    </div>
    <div>
      min temp: {{ cityWeather?.temp_min | number: "1.0-0" }}
      {{ cityWeather?.temp_unit_icon }}
    </div>
    <div>wind speed: {{ cityWeather?.wind_speed }}</div>
  </div>
</div>
