<div class="spacer"></div>
<div class="text-center">
  <ng-container *ngIf="cityWeather$ | async as cityWeather">
    <app-city-widget
      matRipple
      [cityWeather]="cityWeather"
      (click)="moreDetails()"
      class="mat-elevation-z4"
    ></app-city-widget>
  </ng-container>
</div>
