/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.text-center {
  text-align: center;
}
.spacer {
  padding-bottom: 125px;
}
.tine {
  font-weight: 100 !important;
}
