<div class="spacer"></div>
<div class="text-center">
  <div class="mat-headline">
    {{ cityName }}
  </div>
  <ng-container *ngFor="let hourlyWeather of hourlyWeather$ | async">
    <app-hourly-widget [weather]="hourlyWeather"></app-hourly-widget>
  </ng-container>
</div>
<div class="spacer"></div>
